html { 
  background: url(pictures/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#buttons{
display:block;
text-align:center;
}
.btn{
width:90px;
height:70px;
margin:5%;
}
.header{
text-align:center;
}
#uberschrift{
color:black;
text-decoration:underline;
}
#uberschrift2{
color:#27452f;
}
#uberschrift3{
color:black;
}
#result{
text-align:center;
font-weight:900;
}
.resize{
width:90px;
height:70px;
}
#endscore{
margin-top:3%;
font-weight:900;
color:#4a1e1e;
font-size: 50px ;
}
.results{
margin-bottom:2%;
}
#thisRound{
margin-bottom:0%;
}
#drawContainer{
margin-bottom:0%;
}

