body {
background-color:lightgray;
}

#buttons{
display:block;
text-align:center;
}
#uberschrift{
text-align:center;
color:red;
text-decoration:underline;
margin-bottom:20%
}
#result{
text-align:center;
margin-top:5%;

}
#uberschrift2{
text-align:center;
color:blue;
margin-bottom:5%;
}
#endscore{
margin-top:5%;
}
